.formik{
    display: flex;
        align-items: center;
        justify-content: center;
    form{
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;    
        flex-direction: column;
        padding: 100px 50px;
        border-radius: 20px;
margin-top: 80px;
background: rgb(51,132,189);
background: linear-gradient(90deg, rgba(51,132,189,1) 2%, rgba(56,196,200,1) 48%);
        input{
            border: 1px solid lightblue;
            border-radius: 10px;
color: black;
        }
        .red{
            color: red;
        }
    }
}